[mysqld]
user = mysql
pid_file = mysqld.pid
event_scheduler = 1

# Connection & Timeout
wait_timeout = 3600
interactive_timeout = 3600
#net_read_timeout = 3600
#net_write_timeout = 3600
max_connections = 1500
max_allowed_packet = 256M
table_open_cache = 3000
thread_handling = pool-of-threads
thread_cache_size = 256

# Charset
character_set_client_handshake = 0

# SQL
group_concat_max_len = 65536
lower_case_table_names = 1

# Timezone
default_time_zone = '+8:00'

# Logs
log_error = mysql-err.log
slow_query_log = 1
slow_query_log_file = mysql-slow.log
long_query_time = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_expire_logs_seconds = 604800
sync_binlog = 1
log_bin_trust_function_creators = 1

# Audit Log
plugin_load_add = server_audit
server_audit_events = 'CONNECT,TABLE'
server_audit_output_type = file
server_audit_file_path = mysql-audit.log
server_audit_file_rotate_size = 500M
server_audit_file_rotations = 1
server_audit_logging = 1

# Storage Engines
plugin_load_add = ha_federatedx
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 1
innodb_autoinc_lock_mode = 2
innodb_log_buffer_size = 64M
innodb_log_file_size = 1G
innodb_page_size = 32K

# Memory Buffers
read_buffer_size = 2M
read_rnd_buffer_size = 1M
sort_buffer_size = 4M
max_heap_table_size = 1024M
tmp_table_size = 1024M
binlog_cache_size = 32K
query_cache_size = 256M
query_cache_limit = 2M
query_cache_min_res_unit = 5k

# Security
local_infile = 0

# Replication / GTID
gtid_strict_mode = 1
log_slave_updates = 1

# YAML settings
server_id = 1
gtid_domain_id = 1
innodb_buffer_pool_size = 8G
rpl_semi_sync_master_enabled = 0
rpl_semi_sync_master_wait_point = AFTER_SYNC
